@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(165deg, #026583, #001e24, #049bc9);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-size: 200% 200%;
  animation: bgMove 8s ease infinite;
}

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.linha {
  position: fixed;

  height: 2px;

  background: rgba(193, 241, 241, 0.3);

  box-shadow:
    0 0 5px rgba(193, 241, 241, 0.5),
    0 0 10px rgba(193, 241, 241, 0.3);

  border-radius: 10px;
}

.linha1 {
  width: 600px;

  top: 180px;
  left: -20px;
}

.linha2 {
  width: 500px;

  top: 280px;
  left: -50px;
}

.linha3 {
  width: 500px;

  top: 380px;
  left: -5px;
}

.linha4 {
  width: 500px;

  top: 480px;
  left: 20px;
}

.linha1e {
  width: 400px;

  top: 200px;
  right: -20px;
}

.linha2e {
  width: 480px;

  top: 290px;
  right: -50px;
}

.linha3e {
  width: 250px;

  top: 400px;
  right: -5px;
}

.linha4e {
  width: 500px;

  top: 500px;
  right: 20px;
}

.ponto {
  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background: #c2f1f1;

  box-shadow:
    0 0 10px cyan,
    0 0 20px cyan,
    0 0 40px cyan;
}

.brilho {
  position: absolute;

  width: 60px;
  height: 4px;

  top: 50%;

  transform: translateY(-50%);

  background: #c2f1f1;

  filter: blur(4px);

  animation: correr 3s linear infinite;
}

/* ANIMAÇÃO */

@keyframes correr {
  from {
    left: 0;
  }

  to {
    left: calc(100% - 60px);
  }
}

.circuitos {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: 1;
  pointer-events: none;
}

.scroll-block {
  overflow-y: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 500;
  margin: 8px;
}

p {
  color: rgb(0, 8, 8);
}
a {
  color: rgb(2, 95, 99);
}

span {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 700;
}

p.slogan {
  font-size: 22px;
  font-family: "Condiment", cursive;
  font-weight: 200;
  margin: 6px;
}

p.card {
  font-size: 16px;
  margin-top: 8px;
  text-align: center;
  max-width: 80%;
  color: azure;
}

p.front {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: end;
  margin: 0;
}

footer {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 50px;
  font-size: 48px;
  margin: 0px;
  padding: 0px;
  color: azure;
}
h3.gold {
  color: #daa520;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
  color: azure;
  text-decoration: underline;
}

li {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 900;
}

button {
  height: 56px;
  border-radius: 16px;
  border-width: 0px;
  color: azure;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16rem;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  background: linear-gradient(135deg, #ffd700, #daa520);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
}

.title-block {
  display: flex;
  align-items: center;
  gap: 6px;
}

.title-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 500;
  font-family: "Special Gothic Expanded One", sans-serif;
  gap: 18px;
}

.hero-ass {
  display: flex;
  width: 240px;
  height: auto;
  padding-left: 30px;
}

.hero-info-title {
  font-size: 18px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin: 0px;
  color: azure;
}

.hero-info-subtitle {
  font-size: 20px;
  line-height: 28px;
  max-width: 70%;
  margin-top: 16px;
  color: azure;
  padding-left: 20%;
}

.init-feed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero- -item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.hero-feed-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-feed-item span {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #848b8b;
}

.hero-info-image {
  display: block;
  height: 300px;
  width: 250px;
  border-radius: 8%;
  box-shadow: #65686b 0px 0px 2px 2px;
}

.hero-size-icons-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  object-fit: contain;
  padding-top: 8px;
}

.hero-size-icons-feed {
  width: 20px;
  height: 20px;
  cursor: pointer;
  object-fit: contain;
  border-radius: 70%;
}

.hero-size-icons-sigla {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  background-image: url("sigla.png");
  margin-left: 5px;
  animation: siglaBounce 0.8s ease-out;
}

/* ROBÔ ============================= */
#boh {
  width: 200px;
  animation: bohFlutuar 3s ease-in-out infinite;
}

#boh2 {
  width: 200px;
  animation: bohFlutuar 3s ease-in-out infinite;
}

#boh3 {
  width: 200px;
  position: fixed;
  bottom: 86px;
  right: 250px;
  animation: bohFlutuar 3s ease-in-out infinite;
}

/* HOLOGRAMA ========================= */
.boh-holo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -50%;
  bottom: 180px;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  animation: bohHoloAparecer 1.2s ease-out forwards;
  animation-delay: 1.6s; /* só aparece quando Boh para */
  pointer-events: none;
}

/* Feixe do holograma */
.boh-holo-charge {
  width: 0px;
  height: 60px;
  background: linear-gradient(to top, rgba(132, 214, 236, 0.932), transparent);
  margin: 0 auto;
  filter: blur(0px);
}

/* Caixa holográfica */
.boh-holo-text {
  backdrop-filter: blur(12px);
  background: rgba(0, 160, 220, 0.15);
  border: 1px solid rgba(0, 200, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.4);
  border-radius: 12px;
  padding: 12px 18px;
  font-size: 20px;
  color: #dff8ff;
  width: 360px;
  height: 40px;
  margin-top: 8px;

  animation: bohTextoFlutuar 3s ease-in-out infinite;
}

/* Quando o BOH vai sumir */
#boh-container.boh-hide {
  animation: bohAccelerate 0.4s cubic-bezier(0.3, 0, 1, 1) forwards;
}

/* Holograma desaparecendo suavemente */
.boh-holo.boh-hide {
  opacity: 0;
  animation: none;
}

/* Pó cósmico */
#boh-container.boh-hide::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  right: -100px;
  bottom: 0px;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9),
    rgba(105, 20, 190, 0.3),
    rgba(100, 50, 200, 0)
  );

  opacity: 0;
  pointer-events: none;
  animation: cosmicDust 1s ease-out forwards;
  filter: blur(0px);
}

/* Quando o BOH vai sumir */
#boh-container.boh-hide {
  animation: bohAccelerate 0.4s cubic-bezier(0.3, 0, 1, 1) forwards;
}

/* Holograma desaparecendo suavemente */
.boh-holo.boh-hide {
  opacity: 0;
  animation: none;
}

/* Pó cósmico */
#boh-container.boh-hide::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  right: -100px;
  bottom: 0px;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9),
    rgba(105, 20, 190, 0.3),
    rgba(100, 50, 200, 0)
  );

  opacity: 0;
  pointer-events: none;
  animation: cosmicDust 1s ease-out forwards;
  filter: blur(0px);
}

.feed-bios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  gap: 30%;
}
.feed-bios p {
  color: rgb(245, 242, 242);
  text-align: center;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.feed-bios .nav-feed {
  text-align: center;
  position: relative;
  display: inline-block;
}

.feed-bios .nav-feed::after {
  content: ""; /* Cria o pseudo-elemento */
  position: absolute;
  width: 100%; /* Começa com largura zero */
  height: 2px; /* Espessura do sublinhado */
  background-color: rgb(245, 242, 242);
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.6s ease;
}
.feed-bios .nav-feed:hover::after {
  transform: translateX(-50%) scaleX(1);
  width: 10rem;
}

.highlights {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 10%;
}

.highlight {
  cursor: pointer;
  text-align: center;
}
.highlight img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #0084ff;
  padding: 3px;
}
.highlight p {
  color: rgb(245, 242, 242);
  text-align: center;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.story-media {
  width: 100%;
  max-height: 80vh;
  border-radius: 15px;
  display: none;
}

.story-link {
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff8a00;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.line {
  width: 80%;
  border: none;
  height: 1px;
  background: #ccc;
  margin: 20px auto;
}
